# Print

In [4]:
a=10 
b=20 
a
b

20

In [5]:
print(a)
print(b)

10
20

In [6]:
print(10) 
print(10,20) 
print('python') 
print(10,20,'python')

10
10 20
python
10 20 python

In [11]:
num1=2 
num2=33
add=num1+num2 
print(add)

35

In [12]:
print('The addition of',num1,'and',num2,'is=',add)

The addition of 2 and 33 is= 35

In [10]:
name='Sheet' 
age=21 
city='hyd'
print('My name is',name,'and i am',age,'years old form',city)

My name is Sheet and i am 21 years old form hyd

In [13]:
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 2 and 33 is= 35

In [15]:
print('hello my name is {}, and i am {} years old from {}'.format(name,age,city))

hello my name is Sheet, and i am 21 years old from hyd

In [7]:
num1=190
num2=227 
num3=32 
add = num1 + num2
avg=(num1+num2+num3)/3
avg1=round(avg,2)
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, avg,avg1))
print(f'The avrage of {num1}, {num2} and {num3} is = {avg1}')

The avrage of 190, 227, and 32 is= 149.66666666666666 or 149.67
The avrage of 190, 227 and 32 is = 149.67

In [3]:
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 190 and 227 is= 417

In [5]:
name='Sheet' 
age=21 
city='hyd'
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Sheet, and i am 21 year old, from hyd.

In [8]:
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

In [9]:
print('hello', end=' ')
print('Everyone have a good-day biscuit')

hello Everyone have a good-day biscuit

In [11]:
print('hello','hai','how are you',sep='--->') 
print('hello','hai','how are you',sep=' & ') 
print('hello','hai','how are you',sep=' @ ') 
print('hello','hai','how are you',sep=' ') 
print(3,4,5,'.')

hello--->hai--->how are you
hello & hai & how are you
hello @ hai @ how are you
hello hai how are you
3 4 5 .

In [13]:
print(3,4,5,'.',sep='  ')

3  4  5  .

# Key words

In [14]:
print(1,2,end=' ') 
print(3,'.',sep='')

1 2 3.

In [16]:
import sys 
import keyword 
import operator 
from datetime import datetime 
import os

In [17]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
len(keyword.kwlist)

35

# Identifiers = Variable name

In [19]:
1var = 100

SyntaxError: invalid decimal literal (42775412.py, line 1)

In [20]:
val2@ = 35

SyntaxError: invalid syntax (3636076842.py, line 1)

In [21]:
import = 125

SyntaxError: invalid syntax (4166699667.py, line 1)

### Identifiers can be a combination of letters in lowercase (a to z) or uppercase

# Comments

In [22]:
# Single line comment

In [23]:
# Multiple 
# lines

In [27]:
''' This is comments
Multiple 
line 
comment'''
v = 2

In [29]:
"""
Multiple 
line         #if it’s not inside a function/class/module or assigned to a variable — Python just sees it as an unused string literal, not a true comment.         
comment 
""" 
v2 = 10

# Statements

In [31]:
p = 20
q = 20
r = q
p, type(p), hex(id(p)), id(p)   #to get the memory address of an object in hexadecimal format.

(20, int, '0x7ffd062a2c18', 140724706880536)

In [32]:
q, type(q), hex(id(q)), id(q)

(20, int, '0x7ffd062a2c18', 140724706880536)

In [33]:
r, type(r), hex(id(r)), id(r)

(20, int, '0x7ffd062a2c18', 140724706880536)

In [37]:
r = 50
r = r+10
r

60

In [38]:
v1,v2,v3 = 'shee',21,30.5
print(v1)
print(v2)
print(v3)

shee
21
30.5

# Data Types

### Numeric

In [40]:
v1 = 50
print(v1)
print(type(v1))
print(sys.getsizeof(v1))
print(v1,"is integer?", isinstance(v1,int))

50
<class 'int'>
28
50 is integer? True

In [44]:
v2 = 50.3
print(v2)
print(type(v2))
print(sys.getsizeof(v2))
print(v2,"is integer?", isinstance(v2,int))

50.3
<class 'float'>
24
50.3 is integer? False

In [45]:
v2 = 50.3
print(v2)
print(type(v2))
print(sys.getsizeof(v2))
print(v2,"is integer?", isinstance(v2,float))

50.3
<class 'float'>
24
50.3 is integer? True

In [47]:
v3 = 54 + 23j 
print(v3) 
print(type(v3))  
print(sys.getsizeof(v3)) 
print(v3, " is complex?", isinstance(v3, complex))

(54+23j)
<class 'complex'>
32
(54+23j)  is complex? True

In [49]:
print(sys.getsizeof(int()))
print(sys.getsizeof(float()))
print(sys.getsizeof(complex()))

28
24
32

### Boolean

In [50]:
v1 = True
print(v1)
print(type(v1))

True
<class 'bool'>

In [51]:
v1 = true
print(v1)
print(type(v1))

NameError: name 'true' is not defined

In [52]:
v1 = False
print(v1)
print(type(v1))

False
<class 'bool'>

In [54]:
isinstance(v1, bool)

True

In [55]:
bool(0)

False

In [56]:
bool(1)

True

In [57]:
bool(None)

False

In [58]:
bool(False)

False

### String

In [59]:
str1 = "HELLO PYTHON"
mystr = 'Hello World'
print(str1) 
print(mystr)

HELLO PYTHON
Hello World

In [61]:
mystr = '''Hello 
                             World ''' 
print(mystr)

Hello
                             World

In [62]:
mystr = """Hello 
                             World """
print(mystr)

Hello
                             World

In [63]:
mystr = ('Happy ' 
'Monday ' 
'Everyone') 
print(mystr)

Happy Monday Everyone

In [64]:
mystr2 = 'Woohoo ' 
mystr2 = mystr2*5 
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [65]:
len(mystr2)

35

In [66]:
str1

'HELLO PYTHON'

In [67]:
str1[0]

'H'

In [69]:
str1[len(str1)-1]

'N'

In [70]:
str1[-1]

'N'

In [71]:
str1[22]

IndexError: string index out of range

In [72]:
str1[0:5]

'HELLO'

In [73]:
str1[0:6]

'HELLO '

In [74]:
str1[6:12]

'PYTHON'

In [75]:
str1[-4:]

'THON'

In [77]:
str1[-4:-1]

'THO'

In [78]:
str1[:4]

'HELL'

In [79]:
str1[:-4]

'HELLO PY'

In [80]:
str1

'HELLO PYTHON'

In [81]:
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [84]:
del str1
print(str1)

NameError: name 'str1' is not defined

In [86]:
s1 = "Holaaa" 
s2 = "Sheeet" 
s3 = s1 + ' ' + s2 
print(s3)

Holaaa Sheeet

In [2]:
txt = " abc def ghi " 
txt.lstrip()

'abc def ghi '

In [3]:
txt.strip()

'abc def ghi'

### Complex

In [87]:
z = 3+5j

In [89]:
print(z.imag)
print(z.real)

5.0
3.0

In [90]:
a = 1 + 2j

In [97]:
print(a+z)
print(a-z)
print(a*z)
print(a/z)
# print(a//z)  #Python does not support floor division with complex numbers.
# print(round((a/z), 2)) #Python doesn't allow rounding complex numbers using the built-in round() function — because complex numbers have two parts: real and imaginary.

(4+7j)
(-2-3j)
(-7+11j)
(0.3823529411764706+0.029411764705882346j)

In [98]:
print(abs(z))
print(z.conjugate())

5.830951894845301
(3-5j)

In [99]:
import cmath
z = 1+1j
print(cmath.phase(z))
print(cmath.polar(z))
print(cmath.sqrt(z))

0.7853981633974483
(1.4142135623730951, 0.7853981633974483)
(1.09868411346781+0.45508986056222733j)

# Basic Code

In [100]:
print(3 + 2)   
print(3 - 2)   
print(3 * 2)   
print(3 / 2)   
print(3 ** 2)  
print(3 % 2)   
print(3 // 2)

5
1
6
1.5
9
1
1

In [101]:
print(type(10))  
print(type(3.14))                
print(type(1 + 3j))              
print(type('Sheet'))          
print(type([1, 2, 3]))           
print(type({'name':'Sheeet'})) 
print(type({9.8, 3.14, 2.7}))    
print(type((9.8, 3.14, 2.7)))    
print(type(3 == 3))              
print(type(3 >= 3))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# Variables in Python

In [102]:
first_name = 'SHEETAL'
last_name = 'KOTHARI'
country = 'HYD'
city = 'TELENGANA'
age = 22
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Rohit', 
    'lastname':'Kothari', 
    'country':'Australia',
    'city':'Adelaide'
    }

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: SHEETAL
First name length: 7
Last name:  KOTHARI
Last name length:  7
Country:  HYD
City:  TELENGANA
Age:  22
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Rohit', 'lastname': 'Kothari', 'country': 'Australia', 'city': 'Adelaide'}

In [103]:
first_name, last_name, country, age, is_married = 'Rohit', 'Kotha', 'Australia', 19, False
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Rohit Kotha Australia 19 False
First name: Rohit
Last name:  Kotha
Country:  Australia
Age:  19
Married:  False

# Operators

In [104]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   
print('Modulus: ', 3 % 2)                           
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [105]:
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [106]:
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [107]:
a = 7
b = 4

In [108]:
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [109]:
print(total)

11

In [110]:
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

a + b =  11
a - b =  3
a * b =  28
a / b =  1.75
a % b =  3
a // b =  1
a ** b =  2401

In [111]:
a,b

(7, 4)

In [112]:
num_one = 3
num_two = 4

total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [113]:
radius = 10                                 
area_of_circle = 3.14 * radius ** 2         
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [114]:
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [115]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [116]:
print(3 > 2)     
print(3 >= 2)    
print(3 < 2)      
print(2 < 3)     
print(2 <= 3)    
print(3 == 2)    
print(3 != 2)    
print(len('mango') == len('avocado')) 
print(len('mango') != len('avocado'))  
print(len('mango') < len('avocado'))   
print(len('milk') != len('meat'))      
print(len('milk') == len('meat'))      
print(len('tomato') == len('potato')) 
print(len('python') > len('dragon'))

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [117]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [118]:
print('1 is 1', 1 is 1)                   
print('1 is not 2', 1 is not 2)          
print('A in Asabeneh', 'A' in 'Asabeneh') 
print('B in Asabeneh', 'B' in 'Asabeneh') 
print('coding' in 'coding for all') 
print('a in an:', 'a' in 'an')     
print('4 is 2 ** 2:', 4 is 2 ** 2)

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Sheetal\AppData\Local\Temp\ipykernel_5292\2659321938.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1', 1 is 1)
C:\Users\Sheetal\AppData\Local\Temp\ipykernel_5292\2659321938.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)
C:\Users\Sheetal\AppData\Local\Temp\ipykernel_5292\2659321938.py:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)

In [119]:
print('1 is 1', 1 == 1)                   
print('1 is not 2', 1 != 2)          
print('A in Asabeneh', 'A' in 'Asabeneh') 
print('B in Asabeneh', 'B' in 'Asabeneh') 
print('coding' in 'coding for all') 
print('a in an:', 'a' in 'an')     
print('4 is 2 ** 2:', 4 == 2 ** 2)

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

In [120]:
print(3 > 2 and 4 > 3) 
print(3 > 2 and 4 < 3) 
print(3 < 2 and 4 < 3) 
print(3 > 2 or 4 > 3)  
print(3 > 2 or 4 < 3) 
print(3 < 2 or 4 < 3)  
print(not 3 > 2)     
print(not True)     
print(not False)    
print(not not True)  
print(not not False)

True
False
False
True
True
False
False
False
True
True
False

### String and its methods

In [121]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
space = ' '
full_name = first_name  +  space + last_name
print(full_name)

Asabeneh Yetayeh

In [122]:
language = 'Python'
a,b,c,d,e,f = language 
print(a) 
print(b) 
print(c)  
print(d) 
print(e) 
print(f)

P
y
t
h
o
n

In [125]:
language = 'Pythonmb'
pto = language[0:8:2] 
print(pto)

Ptom

In [128]:
print('I hope every one enjoying the python challenge.\nDo you ?') 
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') 
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [130]:
print('In every programming language it starts with \"Hello, World!\"')
print('In every programming language it starts with "Hello, World!"')

In every programming language it starts with "Hello, World!"
In every programming language it starts with "Hello, World!"

In [131]:
challenge = 'thirty days of python'
print(challenge.capitalize())

Thirty days of python

In [133]:
print(challenge.count('y')) 
print(challenge.count('y', 7, 17)) 
print(challenge.count('th'))

3
2
2

In [134]:
challenge = 'thirty days of python'
print(challenge.endswith('on'))   
print(challenge.endswith('tion'))

True
False

In [135]:
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs()) 
print(challenge.expandtabs(10))

thirty  days    of      python
thirty    days      of        python

In [136]:
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [137]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence)

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [138]:
radius = 10
pi = 3.14
area = pi
result = 'The area of circle with {} is {}'.format(str(radius), str(area))
print(result)

The area of circle with 10 is 3.14

In [139]:
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [140]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum())

True

In [141]:
challenge = '30DaysPython'
print(challenge.isalnum())

True

In [144]:
challenge = 'thirtydaysofpython'
print(challenge.isalpha()) 
num = '123'
print(num.isalpha())

True
False

In [145]:
challenge = 'thirty days of python'
print(challenge.find('y'))  
print(challenge.find('th'))

5
0

In [148]:
num = '123'
print(num.isdecimal())

True

In [153]:
challenge = 'Thirty'
print(challenge.isdigit()) 
challenge1 = '30'
print(challenge1.isdigit())

False
True

In [154]:
num = '10'
print(num.isdecimal()) 
num = '10.5'
print(num.isdecimal())

True
False

In [157]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) 
challenge = 'thirty_days_of_python'
print(challenge.isidentifier())

False
True

In [160]:
challenge = 'thirty days of python'
print(challenge.islower())
challenge = 'Thirty days of python'
print(challenge.islower())

True
False

In [161]:
challenge = 'thirty days of python'
print(challenge.isupper()) 
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper())

False
True

In [162]:
num = '10'
print(num.isnumeric())   
print('ten'.isnumeric())

True
False

In [163]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result)

HTML#, CSS#, JavaScript#, React

In [166]:
challenge = ' thirty days of python y'
print(challenge.strip('y'))

 thirty days of python

In [167]:
challenge = 'thirty days of python'
print(challenge.replace('python', 'coding'))

thirty days of coding

In [168]:
challenge = 'thirty days of python'
print(challenge.split())

['thirty', 'days', 'of', 'python']

In [169]:
challenge = 'thirty days of python'
print(challenge.title())

Thirty Days Of Python

In [170]:
challenge = 'thirty days of python'
print(challenge.swapcase())  
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [171]:
challenge = 'thirty days of python'
print(challenge.startswith('thirty')) 
challenge = '30 days of python'
print(challenge.startswith('thirty'))

True
False