# Tuples

In [3]:
t = ()

In [4]:
type(t)

tuple

In [6]:
tup1 = ()
tup2 = (10,20,30)
tup3 = (10,20.4,'sheet',(2,5,5.5),False,[2,4,5],{'John','David'})

In [7]:
print(tup1)
print(tup2)
print(tup3)

()
(10, 20, 30)
(10, 20.4, 'sheet', (2, 5, 5.5), False, [2, 4, 5], {'John', 'David'})

In [8]:
len(tup3)

7

In [9]:
tup2[2]

30

In [10]:
tup3[2][2]

'e'

In [11]:
tup3[3][2]

5.5

In [12]:
type(tup3[3][2])

float

In [13]:
tup3[-1]

{'David', 'John'}

In [14]:
mytuple = ('zero','one','two','three','four','five','six','seven')

In [15]:
mytuple[0:3]

('zero', 'one', 'two')

In [16]:
mytuple[2:5]

('two', 'three', 'four')

In [17]:
mytuple[-2:]

('six', 'seven')

In [18]:
mytuple[:]

('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [19]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [21]:
print(tup1)
print(tup2)
print(tup3)
print(mytuple)

()
(10, 20, 30)
(10, 20.4, 'sheet', (2, 5, 5.5), False, [2, 4, 5], {'John', 'David'})
('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [22]:
del tup1

In [23]:
print(tup1)
print(tup2)
print(tup3)
print(mytuple)

NameError: name 'tup1' is not defined

In [24]:
print(tup2)
print(tup3)
print(mytuple)

(10, 20, 30)
(10, 20.4, 'sheet', (2, 5, 5.5), False, [2, 4, 5], {'John', 'David'})
('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [25]:
mytuple

('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [26]:
for i in mytuple:
    print(i)

zero
one
two
three
four
five
six
seven

In [28]:
for i in enumerate(mytuple,start = 1):
    print(i)

(1, 'zero')
(2, 'one')
(3, 'two')
(4, 'three')
(5, 'four')
(6, 'five')
(7, 'six')
(8, 'seven')

In [29]:
for i in enumerate(mytuple):
    print(i)

(0, 'zero')
(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'five')
(6, 'six')
(7, 'seven')

In [30]:
'one' in mytuple

True

In [31]:
'te' in mytuple

False

In [32]:
mytuple

('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [33]:
mytuple.index('five')

5

In [34]:
sorted(mytuple)

['five', 'four', 'one', 'seven', 'six', 'three', 'two', 'zero']

In [35]:
sorted(mytuple,reverse=True)

['zero', 'two', 'three', 'six', 'seven', 'one', 'four', 'five']

In [36]:
mytuple

('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [37]:
mytuple.append('shee')

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
mytuple

('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [39]:
print(type(mytuple[2:3]))

<class 'tuple'>