## Set Operations

In [1]:
a = {22,44,13,535,88,100}
b = {22,44,100,56,190,400}
c = {2,13,320,141,100}

In [2]:
a|b     #union

{13, 22, 44, 56, 88, 100, 190, 400, 535}

In [3]:
b.union(c)

{2, 13, 22, 44, 56, 100, 141, 190, 320, 400}

In [4]:
a|c

{2, 13, 22, 44, 88, 100, 141, 320, 535}

In [5]:
a & b     #intersection

{22, 44, 100}

In [6]:
b.intersection(c)

{100}

In [7]:
a & c

{13, 100}

In [8]:
print(a)
print(b)
print(c)

{100, 22, 535, 88, 44, 13}
{400, 100, 22, 56, 44, 190}
{320, 2, 100, 141, 13}

In [9]:
a - b      #difference

{13, 88, 535}

In [10]:
a - c

{22, 44, 88, 535}

In [11]:
a.difference(c)

{22, 44, 88, 535}

In [12]:
b.difference(c)

{22, 44, 56, 190, 400}

In [13]:
a.symmetric_difference(b)

{13, 56, 88, 190, 400, 535}

In [14]:
a^b

{13, 56, 88, 190, 400, 535}

In [15]:
a^c

{2, 22, 44, 88, 141, 320, 535}

In [16]:
a.symmetric_difference_update(b)

In [17]:
a

{13, 56, 88, 190, 400, 535}

In [18]:
print(a)
print(b)
print(c)

{13, 400, 535, 88, 56, 190}
{400, 100, 22, 56, 44, 190}
{320, 2, 100, 141, 13}

In [23]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [24]:
B.issubset(A)

True

In [25]:
A.issuperset(B)

True

In [26]:
A.issuperset(C)

False

In [27]:
A.isdisjoint(B)

False

In [28]:
A.isdisjoint(C)

True

In [29]:
sum(A)

45

In [30]:
max(A)

9

In [31]:
min(A)

1

In [32]:
len(A)

9

In [33]:
sorted(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [35]:
D =sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [37]:
mydict = dict()
mydict

{}

In [38]:
mydict = {1:'hello' , 2:'from' , 3:'three'}
mydict

{1: 'hello', 2: 'from', 3: 'three'}

In [39]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [40]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [41]:
mydict.keys()

dict_keys([1, 2, 3])

In [42]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [44]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [45]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [46]:
mydict.values()

dict_values(['one', 'two', ['asif', 'john', 'Maria']])

In [47]:
mydict.keys()

dict_keys([1, 2, 'A'])

In [48]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [51]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'d': None, 'a': None, 'c': None, 'b': None}

In [52]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 25 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'d': 25, 'a': 25, 'c': 25, 'b': 25}

In [54]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [25 , 20 , 30]
mydict3 = dict.fromkeys(keys , value)
mydict3

{'d': [25, 20, 30], 'a': [25, 20, 30], 'c': [25, 20, 30], 'b': [25, 20, 30]}

In [56]:
value.append(35)

In [57]:
mydict3

{'d': [25, 20, 30, 35, 35],
 'a': [25, 20, 30, 35, 35],
 'c': [25, 20, 30, 35, 35],
 'b': [25, 20, 30, 35, 35]}

In [58]:
value.pop()
mydict3

{'d': [25, 20, 30, 35],
 'a': [25, 20, 30, 35],
 'c': [25, 20, 30, 35],
 'b': [25, 20, 30, 35]}

In [60]:
mydict3['a']

[25, 20, 30, 35]

In [61]:
mydict3['z']

KeyError: 'z'

In [62]:
mydict3.get('b')

[25, 20, 30, 35]

In [63]:
mydict3.get('z')    #Return the value for key if key is in the dictionary, else default

In [67]:
mydict1 = {'Name':'Sheet' , 'ID':16678 , 'Age':20 , 'City':'Hyd' , 'DOY':2005}
mydict1

{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005}

In [68]:
mydict1['DOY'] = 2003
mydict1

{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2003}

In [69]:
dict1 = {'Age':21}
mydict1.update(dict1)
mydict1

{'Name': 'Sheet', 'ID': 16678, 'Age': 21, 'City': 'Hyd', 'DOY': 2003}

In [70]:
mydict1['Job'] = 'Student'
mydict1

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 21,
 'City': 'Hyd',
 'DOY': 2003,
 'Job': 'Student'}

In [71]:
mydict1.pop('Age')

21

In [72]:
mydict1

{'Name': 'Sheet', 'ID': 16678, 'City': 'Hyd', 'DOY': 2003, 'Job': 'Student'}

In [73]:
mydict1.popitem()

('Job', 'Student')

In [74]:
del[mydict1['ID']]
mydict1

{'Name': 'Sheet', 'City': 'Hyd', 'DOY': 2003}

In [75]:
mydict1.clear()
mydict1

{}

In [76]:
del mydict1

In [77]:
mydict1

NameError: name 'mydict1' is not defined

In [78]:
mydict2 = {'Name':'Sheet' , 'ID':16678 , 'Age':20 , 'City':'Hyd' , 'DOY':2005}
mydict2

{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005}

In [79]:
mydict1 = mydict2
mydict1

{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005}

In [80]:
id(mydict1),id(mydict2)

(3031180514624, 3031180514624)

In [81]:
mydict4 = mydict2.copy()

In [83]:
id(mydict4)     # The address will be different

3031179923648

In [84]:
mydict4['Add'] = 'Amp'

In [85]:
print(mydict4)
print(mydict1)
print(mydict2)

{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005, 'Add': 'Amp'}
{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005}
{'Name': 'Sheet', 'ID': 16678, 'Age': 20, 'City': 'Hyd', 'DOY': 2005}

In [86]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp'}

In [87]:
for i in mydict4:
    print(i)

Name
ID
Age
City
DOY
Add

In [88]:
for i in mydict4:
    print(i , "=" , mydict4[i])

Name = Sheet
ID = 16678
Age = 20
City = Hyd
DOY = 2005
Add = Amp

In [89]:
for i in mydict4:
    print(mydict4[i])

Sheet
16678
20
Hyd
2005
Amp

In [90]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp'}

In [91]:
'name' in mydict4

False

In [92]:
'Name'in mydict4

True

In [93]:
'Name ' in mydict4  #space bhi nahi rehna when we r trying to check if its present or not

False

In [94]:
all(mydict4)

True

In [95]:
mydict4['Gen'] = 0
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp',
 'Gen': 0}

In [96]:
all(mydict4)

True

In [98]:
mydict4.pop('Gen')

0

In [99]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp'}

In [100]:
mydict4['0'] = 'kuch tho bhi'

In [101]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp',
 '0': 'kuch tho bhi'}

In [102]:
all(mydict4)     # 0 can be inside a string for it to be true

True

In [103]:
mydict4.pop('0')

'kuch tho bhi'

In [104]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp'}

In [105]:
print(int(True))
print(int(False))

1
0

In [106]:
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp'}

In [107]:
mydict4[0] = 'Hope'
mydict4

{'Name': 'Sheet',
 'ID': 16678,
 'Age': 20,
 'City': 'Hyd',
 'DOY': 2005,
 'Add': 'Amp',
 0: 'Hope'}

In [109]:
all(mydict4)   # 0 directly as  key is not accepted

False