# 1- PYTHON INTRODUCTION -  (TASK - 1)
* I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python borrowed all concept from c,c++,java,unix (so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
*  It has a large and comprehensive standard library.

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook/meta, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to  write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application  programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008, 2016, 2017,2024---- latest version - 3.6, 3.6, 3.7, 3.8, 3.9, 3.10, 3.11

In [1]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [2]:
x = 3
x
#id(x)

3

In [3]:
x = 4
x

4

In [4]:
y = 3
y

3

In [5]:
x, y

(4, 3)

In [6]:
x, y = 3

TypeError: cannot unpack non-iterable int object

In [7]:
type(x)

int

In [8]:
y

3

In [9]:
x1 = 4
x1
type(x1)

int

In [10]:
x,x1

(4, 4)

In [11]:
y = 3
id(y)

140724161882616

In [12]:
x1 = 4
id(x1)

140724161882648

In [13]:
y = False 
type(y)

bool

In [14]:
x, y

(4, False)

In [15]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

## 2- Getting started with Python Language 
### Python 3.x
#### Version Release Date  --->
3.13 2022-25-08
3.10 2021-10-04
3.9 2020-10-05
3.8 2020-04-29 
3.7 2018-06-27
3.6 2016-12-23
3.5 2015-09-13
3.4 2014-03-17
3.3 2012-09-29
3.2 2011-02-20
3.1 2009-06-26
3.0 2008-12-03
### Python 2.x
##### Version Release Date
2.7 2010-07-03
2.6 2008-10-02
2.5 2006-09-19
2.4 2004-11-30
2.3 2003-07-29
2.2 2001-12-21
2.1 2001-04-15
2.0 2000-10-16

In [16]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [17]:
a = 5
print(a)

type(a)

5

int

In [18]:
a@ = 6
a@

SyntaxError: invalid syntax (385768347.py, line 1)

In [19]:
6 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1218098064.py, line 1)

In [20]:
## Verify if Python is installed
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

## 3-Creating variables and assigning values
To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.

<variable name> = <value>
    Python uses = to assign values to variables
    There's no need to declare a variable in advance (or to assign a data type to it)
    Assigning a value to a variable itself declares and initializes the variable with that value.
    There's no way to declare a variable without assigning it an initial value.

In [21]:
a = 5
a

5

In [22]:
type(a)

int

In [23]:
b = 5.5
b

5.5

In [24]:
type(b)

float

In [25]:
c = 'hi'
c

'hi'

In [26]:
type(c)

str

In [27]:
x = 2
x 
#/type(x)

2

In [28]:
x@ = 3
x@

SyntaxError: invalid syntax (3028986276.py, line 1)

In [29]:
# Integer
a = 2
type(a)
#a

int

In [30]:
# Integer 
b = 9223372036
print(b)

9223372036

In [31]:
# Floating point
pi = 3.17
print(pi)

3.17

In [32]:
type(pi)

float

In [33]:
# String
c = 'A'
print(c)

A

In [34]:
type(c)

str

In [35]:
# String 
name = 'John Doe'
print(name)
type(name)

John Doe

str

In [36]:
# Boolean 
q = True
print(q)

True

In [37]:
# Empty value or null data type
x = None
print(x)

None

In [38]:
#Variable assignment works from left to right. So the following will give you an syntax error.
5 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2124959903.py, line 2)

In [39]:
x = 5
x

5

In [ ]:
# 7th page continue onwards

### 4-PYTHON ( IDENTIFIER / VARIBALE / OBJECT )  --
* There is a person whose name - Multiple names are to identify person.so finally the   Name which can be used for identification purpose.
* Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)

*'''  
     
* Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do     some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some     rule and keep their child naming ceremony.

* Rules to define Python Identifier & we will check those rules ==

* <1 Alphabet (uppercae & lowercase)
* <2> Digits (0-9) # should not stat with digit
* <3> underscore(_)

In [40]:
ABC = 50
ABC

50

In [41]:
abc= 60
abc

60

In [42]:
Abc = 70
ABCD

NameError: name 'ABCD' is not defined

In [43]:
xyz = 20000
xyz

20000

In [44]:
ABCD = 70
ABCD

70

In [45]:
NIT = 15000
nit1

NameError: name 'nit1' is not defined

In [46]:
nIT = 20
nIT

20

In [47]:
montycorps = 78
montcorP

NameError: name 'montcorP' is not defined

In [48]:
cash123 = 10
cash123

10

In [49]:
123cash = 20
123cash

SyntaxError: invalid decimal literal (2794601236.py, line 1)

In [50]:
1A = 5

SyntaxError: invalid decimal literal (113075527.py, line 1)

In [51]:
A1 = 5
A1

5

In [52]:
#x = 10 # x is the variable & 10 is thealue
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
#ca$h
cash

10

In [53]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1112431759.py, line 1)

In [54]:
ca*h = 20
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3805698226.py, line 1)

In [55]:
CASH = 20
#Cash
CASH

20

In [56]:
CASH1 = 30
#cash1
CASH1

30

In [57]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

SyntaxError: invalid decimal literal (216375565.py, line 3)

In [58]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
Abcde = 20
#total
type(Abcde)

int

In [59]:
new = 30
NEW

NameError: name 'NEW' is not defined

In [60]:
Total5 = 30
#TOTAL
Total5

30

In [61]:
def = 4.6
def

SyntaxError: invalid syntax (1737738290.py, line 1)

In [62]:
del = 9

SyntaxError: invalid syntax (3568866929.py, line 1)

In [63]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
len(keyword.kwlist)

35

In [65]:
DEF = 4
DEF

4

In [66]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [67]:
IF = 780
IF

780

In [68]:
DEF = 5.6
DEF
#def is key work

5.6

In [69]:
def = 7
def

SyntaxError: invalid syntax (1075677671.py, line 1)

In [70]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [71]:
len(keyword.kwlist)

35

In [72]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword
for = 50
#DEF
#if
for

SyntaxError: invalid syntax (277425378.py, line 4)

In [73]:
FOR = 58
FOR

58

In [74]:
def = 30
def

SyntaxError: invalid syntax (2010559268.py, line 1)

In [75]:
if = 30
if

SyntaxError: invalid syntax (328627015.py, line 1)

In [76]:
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh = 56
#IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh

56

In [77]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

10

In [78]:
_abc_def_gef  = 20
_abc_def_gef

20

In [79]:
x_train = 80
x_train

80

* Q & A for valid / Invalid identifier - 
1>123AMX
2>Amx123
3>ml2ai
4>_abc_def_gef 
5>def
6>else
7>ELSE

* ----- RULES OF PYTHON IDENTIFIER ------
* 1> A to Z, a to z, 0 - 9
* 2> Doesnot starts with digit
* 3> Case sensitive
* 4> Reserved words or keywords cannot be a identifier
* 5> Identifier cannot have a lenght limit
* 6> _ only allowed
* 7> NO special character is allowed 

* ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

In [80]:
print('hello')

hello

In [81]:
'hello' ##

'hello'

In [82]:
import keyword
len(keyword.kwlist)
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### PYTHON RESERVED WORDS - 
* if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english) 
* Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
* In any programming language there is a reserved word are there we gonna learn only python Reserved

* python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete
* all reserved words have some meaning & functionality 
* Learning python is nothing but learing all this functionality

**35 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [83]:
#a = True # hash is used for comment
a = True
a

True

In [84]:
a1 = true
a1

NameError: name 'true' is not defined

In [85]:
True = a

SyntaxError: cannot assign to True (1144090750.py, line 1)

In [87]:
b = None
#b = none
b

In [88]:
b = none
b

NameError: name 'none' is not defined

In [89]:
c = False
#c = false
c

False

In [90]:
true + true

NameError: name 'true' is not defined

In [91]:
True + True

2

In [92]:
True*True

1

In [93]:
True / True #(float division )

1.0

In [94]:
True // True

1

In [95]:
False/True

0.0

In [96]:
True/False

ZeroDivisionError: division by zero

In [97]:
pi = 3.14
pi

3.14

In [98]:
pi = 3.17
pi

3.17

In [99]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [100]:
kw = keyword.kwlist
kw

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [101]:
# write a coding to create index of these keywords --- IMP ---
import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df
# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

In [102]:
a = 10 
id(a)

140724161882840

In [103]:
b=10
id(b)

140724161882840

### PYTHON DATA TYPES // (14) - INBUILD DATA TYPES - 
* 1>int
* 2>float
* 3>complex
* 4>bool
* 5>str
* 6>bytes
* 7>bytearray
 ##### DATA STRUCTURE --->
* 8>range
* 9>list
* 10>tuple
* 11>set
* 12>frozenset
* 13>dict
* 14>None

* python provides some inbuild function like -- <1> print() <2> type() <3> id()

* int,float,complex,boolen is not represent object # Tricky question
* except these 4 everythig object # Tricky question
## * EVERYTHING IN PYTHON IS AN OBJECT

*NOTE - [**In python all 14 data types are object only]
*Thats why we called as python is object oriented program

#### 'hello world'

In [107]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
a
print(a)       # To find the variable 
#print(a)         # To find the value of variable
print(type(a)) # To find the data type
id(a)            # To find an address of an object
#type(a)

10
<class 'int'>

140724161882840

In [108]:
id(a)

140724161882840

In [109]:
b = 10
id(b)

140724161882840

In [110]:
c = 20
id(c)

140724161883160

In [111]:
a = 10
b = 10
id(a)

140724161882840

In [112]:
a = 10
a
id(a)

140724161882840

#### int datatypes - 
* INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES
*int datatype how many ways represent values in 3ways - 

2> Binary form --- (Base-2) -- (0,1)
3> Octal form --- (Base-8) -- (0,7)

In [113]:
a = 1111
a

1111

In [114]:
type(a)

int

In [115]:
id(a)

2526621066768

In [116]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b1111 # Now pvm convert value to binary value
b
#a

15

In [117]:
bin(15)

'0b1111'

In [118]:
b_1 = 0b11
b_1

3

In [119]:
bin(b_1)

'0b11'

In [120]:
b_ = 0b1
b_

1

In [121]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (3245495910.py, line 1)

In [122]:
b1 = 111
b1

111

In [123]:
c = 0b111
c

7

In [124]:
b3 = 0b2
b3

SyntaxError: invalid digit '2' in binary literal (707794346.py, line 1)

In [125]:
True/False

ZeroDivisionError: division by zero

In [132]:
b = 0b10 # Now pvm convert value to binary value
b          # binary uses 0b

2

In [127]:
c = 0b100
c

4

In [128]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o11 # Now pvm covert value to octal value
b1
#a

9

In [129]:
i = 0b22

SyntaxError: invalid digit '2' in binary literal (736842652.py, line 1)

In [131]:
i1 = 0o22     #28^1 + 28^0 = 16+2 = 18
# Octal literals start with 0o
i1

18

In [133]:
b2 = 0o27
b2

23

In [135]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o100
print(a)
print(b)
print(c)

10
2
64

In [136]:
c1 = 0O33
c1

27

In [137]:
b

2

In [138]:
c

64

In [139]:
A = 78
type(A)

int

#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because  python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in   float datatypes & only letter 'e' can allowed

In [140]:
b = 67.9
print(b)

67.9

In [141]:
type(b)

float

In [142]:
b1 = 0b1.1
b1

SyntaxError: invalid syntax (808406421.py, line 1)

In [143]:
c = 0o11.6
c

SyntaxError: invalid syntax (3270742341.py, line 1)

In [144]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0o456789 # This is binary
d
#e
#b

SyntaxError: invalid syntax (2124913177.py, line 7)

In [147]:
f1 = 1e4     #110^4
print(f1)
type(f1)

10000.0

float

In [148]:
f = 1e3
f

1000.0

In [152]:
# f = 1e4 # only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
print(g)  #2.4E3 means 2.4  10^3.
# print(f)
#type(g)

2400.0

In [153]:
g1 = 23e3
g1

23000.0

In [154]:
e = 5.e3
e
#type(e) 
#type(e)

5000.0

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [155]:
x = 30+40j #assigned int value in real part & imaginary part
x

(30+40j)

In [156]:
type(x)

complex

In [159]:
y = 1+2j #assigned float value in real part & imaginary part
z = 3+2j  #assigned float value in real part & real value in imaginary part
print(y + z)
print(y - z)
print(y * z)
print(y / z)

(4+4j)
(-2+0j)
(-1+8j)
(0.5384615384615384+0.30769230769230776j)

In [160]:
y-z

(-2+0j)

In [161]:
y*z

(-1+8j)

In [162]:
y/z

(0.5384615384615384+0.30769230769230776j)

In [163]:
c = 15+0b111j # Imaginary part cannot be binary,octal
#d = 0b11+15j # Real part can be binary,octal
c
#d

SyntaxError: invalid binary literal (2166187284.py, line 1)

In [164]:
c = 1 + 0b10j
c

SyntaxError: invalid binary literal (904579619.py, line 1)

In [165]:
d2 = 0b111+15j
d2

(7+15j)

In [166]:
e1 = 4 + 15j
e1

(4+15j)

In [167]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [168]:
a1 * b1

(-700+2200j)

In [169]:
20*40

800

In [170]:
a = 2+3j
type(a)

complex

In [171]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

In [172]:
a1.real

10.0

In [173]:
help()

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help>  q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [174]:
com = 10 + 15j
type(com)

complex

In [175]:
com.real

10.0

In [176]:
com.imag

15.0

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [177]:
a = 10
b = 20
c = a>b
c

False

In [178]:
type(c)
#type(a)

bool

In [179]:
print(True+True)
print(True*True)
print(True-True)
print(True/True)
print(True//True)
print(False+False)
print(False+True)
print(True/False)

2
1
0
1.0
1
0
1

ZeroDivisionError: division by zero

In [180]:
True/True

1.0

In [181]:
True/False # error

ZeroDivisionError: division by zero

In [182]:
pi = 3.14
pi
type(pi)

float

In [183]:
pi = 3.17
pi

3.17

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [184]:
ABC = '''good for datascience'''
ABC

'good for datascience'

In [185]:
type(ABC)

str

In [186]:
DEF = '''good for datascience'''
#type(careerera)#' single quotes'
DEF
type(DEF)

str

In [187]:
w = '''good
             for datascience'''
#type(careerera)#' single quotes'
w
#type(naresh)

'good\n             for datascience'

In [188]:
ts = '''The most common cause of the Python SyntaxError: 
    EOL while scanning string literal is due to missing quotes at the end of a string. 
    This refers to a string being opened by using either 
    ' , " , or """ and not closing the string properly.'''

In [189]:
ts

'The most common cause of the Python SyntaxError: \n    EOL while scanning string literal is due to missing quotes at the end of a string. \n    This refers to a string being opened by using either \n    \' , " , or """ and not closing the string properly.'

In [190]:
y = '''good for datascience'''
#type(careerera)#' single quotes'
y
#type(naresh)

'good for datascience'

In [191]:
y = '''good for 
 datascience'''
#type(naresh1
y

'good for \n datascience'

In [192]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare \nyou'

In [193]:
b = '''hello 
    hi'''
b

'hello \n    hi'

In [194]:
# single quote & double both are equl
# ''' multiline comment'''

In [195]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

"('hallo' \n  'how'\n    'are you')"

In [196]:
x, y, z, m, n = 10, True, 10.9, 1 + 10j, 'hi'

In [197]:
type(n)

str

In [198]:
type(m)

complex

In [199]:
y

True

In [200]:
z

10.9

# Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [201]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
#int('ten') # amx is a character

10

In [202]:
# float(): -- convert from any type to float except complex
float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

11.0

In [203]:
float(10,20)

TypeError: float expected at most 1 argument, got 2

In [204]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------
print(complex(10) )    # int to complex
print(complex(10.5))  # float to complex
print(complex(True) ) # Bool to complex
print(complex(False) )# Bool to complex
print(complex('10'))  # string to complex 

# ----- Now we will check for 2 arguments ------
print(complex(10,20))   # int to complex
print(complex(10,20.5)) # float to complex
print(complex('10')   ) # string to complex, you cannot assign 2 argument

(10+0j)
(10.5+0j)
(1+0j)
0j
(10+0j)
(10+20j)
(10+20.5j)
(10+0j)

In [205]:
# Bool()  - (0 means false // 1 means non zero)

print(bool(0))      # int to bool
print(bool(-10))     # int to bool
print(bool(0.0) )   # float to bool
print(bool(0.01) )  # float to bool 
print(bool(10+20j)) # complext to bool
print(bool(0+1j)   )# complex to bool
print(bool(" ")    )  # string to bool(if argument is empty string then false)
print(bool('abc'))# string to bool(if argument is not empty string then true)
print(bool(' ')  )  # space is also treated as character so non empty string

False
True
False
True
True
True
True
True
True

In [206]:
bool(-10)

True

In [207]:
bool(0+1j)

True

In [208]:
# str(): --- any type is possible in string 

print(str(10))     # int to string
print(str(10.50))  # float to string
print(str(True) )  # bool to string
print(str(10+20j)) # complex to string

10
10.5
True
(10+20j)

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
- We cannot convert our complex data types to int and float
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [209]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

140724161882840
140724161882840
140724161883160

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
* 1> int ----> 0 to 256
* 2> bool ---> Always 
* 3> str ----> Always
* 4> float & complex ----> Can not performe the reusable concept

In [210]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

140724161882840
140724161882840

In [211]:
id(y)

140724161882840

In [212]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [213]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False

## ------ END OF THE TODAYS SESSION ----- ##

-------

### PYTHON DATA STRUCTURE ( TASK - 2)

* LIST DATASTRUCTURE - 

* Insertation order is preserved & duplicates are allowed
* if you want to represent group of values as a singel entity where insertation   order is preserved and duplicates are allowed   then we can go for LIST datatype
* what is the meaning of insertaion order is preserved
* you can increase the least object or you can decrease the list object 
* list you can use index operator and also slice operator

In [214]:
l = [] 
type(l) 
#print(type(l))

list

In [215]:
l

[]

In [216]:
#Now i want to add an object
l.append(10) 
l.append(20)
l.append(30)
l.append(10)

In [217]:
l

[10, 20, 30, 10]

In [218]:
l.add(50)

AttributeError: 'list' object has no attribute 'add'

In [219]:
l

[10, 20, 30, 10]

In [220]:
print(l)

[10, 20, 30, 10]

In [221]:
#hetrogenrous objects are allowed or not
#java people came and asking null is availabe or not, such type of stories are not available
# list objects are growable & this is just an introduction session & we will see indetails
l.append('amx') 
l.append(8.0)
l.append(None)
l.append(1+2j)
l.append(True)

In [222]:
l

[10, 20, 30, 10, 'amx', 8.0, None, (1+2j), True]

In [223]:
l.remove('amx') #delete the object from list

In [224]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [225]:
l[-4]

8.0

In [226]:
l[-7]

20

In [227]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [228]:
l[4]

8.0

In [229]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [230]:
l[6]

(1+2j)

In [231]:
l[7]

True

In [232]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [233]:
l[12]

IndexError: list index out of range

In [234]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [237]:
l[5]

In [238]:
l[3]

10

In [239]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [240]:
l[8]

IndexError: list index out of range

In [241]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [242]:
l[-1]

True

In [243]:
l[-2]

(1+2j)

In [244]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [245]:
# Let me introduce to slicing operator
l[:]

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [246]:
l[2:4] # n-1 formula

[30, 10]

In [247]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [248]:
l[0:8] # print the element value from 2nd index to 6th index

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [249]:
l[14]

IndexError: list index out of range

In [250]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [251]:
l[3:5]

[10, 8.0]

In [252]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [253]:
l[2:4]

[30, 10]

In [254]:
l

[10, 20, 30, 10, 8.0, None, (1+2j), True]

In [255]:
l[0]

10

In [256]:
l[1]

20

In [257]:
l[0] = 100

In [258]:
l

[100, 20, 30, 10, 8.0, None, (1+2j), True]

In [259]:
l[1] = 'NIT'

In [260]:
l[:]

[100, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [261]:
l

[100, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [262]:
l[0]

100

In [263]:
l[0] = 1000

In [264]:
l

[1000, 'NIT', 30, 10, 8.0, None, (1+2j), True]

In [265]:
l[1] = 'AMX'

In [266]:
l[-2] = 'monty'

In [267]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [268]:
l[:]

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [269]:
l[2]

30

In [270]:
l[2:5] # THEN N-1 FORMULA

[30, 10, 8.0]

In [271]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [272]:
l[4]

8.0

In [273]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [274]:
l[4:] # print the elemnt from 4th index

[8.0, None, 'monty', True]

In [275]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [276]:
l[:4]

[1000, 'AMX', 30, 10]

In [277]:
l

[1000, 'AMX', 30, 10, 8.0, None, 'monty', True]

In [278]:
l[2]

30

In [279]:
l[2] = 'hi'
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [280]:
l # list is mutable

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [281]:
l[2:-2]

['hi', 10, 8.0, None]

In [282]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [283]:
l[0:-1]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty']

In [284]:
l[:]

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [285]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [286]:
l[1] # : --> (SLICING OPERATOR)

'AMX'

In [288]:
l[:] #display all the values

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [291]:
l[-1]

True

In [292]:
int(True)

1

In [293]:
l[-2]

'monty'

In [294]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [295]:
l[:] # : --> this will give us total values which we passed in the object

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [296]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, 'monty', True]

In [297]:
l.pop(6)

'monty'

In [298]:
l

[1000, 'AMX', 'hi', 10, 8.0, None, True]

In [299]:
del l[-2]

In [300]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [301]:
l[:-1]

[1000, 'AMX', 'hi', 10, 8.0]

In [302]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [303]:
l[:-2]

[1000, 'AMX', 'hi', 10]

In [304]:
a, b, c = [1, 'nit', [1,2,3]]

In [305]:
a

1

In [306]:
b

'nit'

In [307]:
c

[1, 2, 3]

In [308]:
a1, b1, c1 = [1, 'nit', [1,2,3]]

In [309]:
a1

1

In [310]:
b1

'nit'

In [311]:
l2 = [a1,b1,c1]

In [312]:
l2

[1, 'nit', [1, 2, 3]]

In [313]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [314]:
l[::-1] # reverse order

[True, 8.0, 10, 'hi', 'AMX', 1000]

In [315]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [316]:
l[::-2]

[True, 10, 'AMX']

In [317]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [318]:
l[::-3]

[True, 'hi']

In [319]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [320]:
l[::-1]

[True, 8.0, 10, 'hi', 'AMX', 1000]

In [321]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [322]:
l[:-2]

[1000, 'AMX', 'hi', 10]

In [323]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [324]:
l[-4:]

['hi', 10, 8.0, True]

In [325]:
l

[1000, 'AMX', 'hi', 10, 8.0, True]

In [326]:
l.remove(8.0) 
l

[1000, 'AMX', 'hi', 10, True]

In [327]:
#l.remove('amxwam')

In [328]:
l

[1000, 'AMX', 'hi', 10, True]

In [329]:
l.remove('7')
l

ValueError: list.remove(x): x not in list

In [330]:
l[-1]

True

In [331]:
l

[1000, 'AMX', 'hi', 10, True]

In [332]:
l[:-3]

[1000, 'AMX']

In [333]:
l

[1000, 'AMX', 'hi', 10, True]

In [334]:
l[2]

'hi'

In [335]:
l

[1000, 'AMX', 'hi', 10, True]

In [336]:
l[:-1]

[1000, 'AMX', 'hi', 10]

** Finaly Summary of LIST DATATYPES -- 
* 1> order is important
* 2> duplicates are allowed
* 3> heterogenous are allowed i.e. different type is allowed
* 4> growable in nature & you can delete or insert an object in the list
* 5> list is datastructure
* 6> values are enclose in square bracket[]
* 7> List is mutable
* 8> index concept applicated in list datatypes +ve- left to right,// -ve- right to left
* 9> slicing concept is also available

**so far we covered fundamental datatypes - int , float, comlex, str, bool
** we do covered type casting function , how to convert from one type to other
**we covered one datastructured called list

#### tuple concept 
* Tuple is immutable & List is mutable
* Tuple can be represent as ()
* once we create tuple we cannot modify 
* order & duplicates are allowed
* heterogenous are allowed i.e. different type is allowed
* index concept applicated in list datatypes +ve- left to right,// -ve- right 
* slicing concept is also available

In [337]:
l = [10,20,30,40] #list datastructure
t = (10,20,30,40) #tuple datastructure

In [338]:
type(l)

list

In [339]:
type(t)

tuple

In [340]:
l

[10, 20, 30, 40]

In [341]:
t
#type(t)

(10, 20, 30, 40)

In [342]:
l[:]

[10, 20, 30, 40]

In [343]:
t[:]

(10, 20, 30, 40)

In [344]:
t1 = (10,'amx',True, 5.8, 10)
t1

(10, 'amx', True, 5.8, 10)

In [345]:
t1[0]

10

In [346]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [347]:
icici = (1234, 'abc34r',37, 200000)
type(icici)

tuple

In [348]:
icici[1234] = 2345

TypeError: 'tuple' object does not support item assignment

In [349]:
icici.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [351]:
icici

(1234, 'abc34r', 37, 200000)

In [352]:
icici.remove(1234)

AttributeError: 'tuple' object has no attribute 'remove'

In [353]:
len(icici)

4

In [354]:
len(t1)

5

In [355]:
t1

(10, 'amx', True, 5.8, 10)

In [356]:
t1[0]

10

In [357]:
type(t1)

tuple

In [358]:
t1

(10, 'amx', True, 5.8, 10)

In [359]:
t1[0] = 20 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [360]:
t1

(10, 'amx', True, 5.8, 10)

In [361]:
t1[1] = 20 # tuple immutable ( not changable) e.g - kyc / adhar

TypeError: 'tuple' object does not support item assignment

In [362]:
t1

(10, 'amx', True, 5.8, 10)

In [363]:
t1[0:3]  # [[ IF YOU RIGHT SIDE THE CALCULATION WILL (Nth INDEX-1) (3-1) == UPTO 2ND INDEX ]]

(10, 'amx', True)

In [364]:
t1

(10, 'amx', True, 5.8, 10)

In [365]:
t1[0:4]

(10, 'amx', True, 5.8)

In [366]:
t1

(10, 'amx', True, 5.8, 10)

In [367]:
t

(10, 20, 30, 40)

In [368]:
t[0] # Oth index

10

In [369]:
l #difference between list and tuple

[10, 20, 30, 40]

In [370]:
l.append(50)

In [371]:
l

[10, 20, 30, 40, 50]

In [372]:
l[0]

10

In [373]:
l[0] = 30 #mutable (change)

In [374]:
l

[30, 20, 30, 40, 50]

In [375]:
l.append(60)

In [376]:
l

[30, 20, 30, 40, 50, 60]

In [377]:
l[:10]

[30, 20, 30, 40, 50, 60]

In [378]:
l[10:]

[]

In [379]:
l
type(l)

list

In [380]:
l

[30, 20, 30, 40, 50, 60]

In [381]:
l[:-3]

[30, 20, 30]

In [382]:
l

[30, 20, 30, 40, 50, 60]

In [383]:
l[2:]

[30, 40, 50, 60]

In [384]:
l

[30, 20, 30, 40, 50, 60]

In [385]:
l[:2]

[30, 20]

In [386]:
t

(10, 20, 30, 40)

In [387]:
t[0]

10

In [388]:
t[0]= 20 
# cannot change any value once you decleare cuz tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [389]:
t1

(10, 'amx', True, 5.8, 10)

In [390]:
t

(10, 20, 30, 40)

In [391]:
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [392]:
t.add(50)

AttributeError: 'tuple' object has no attribute 'add'

In [393]:
t

(10, 20, 30, 40)

In [394]:
t.remove(30)

AttributeError: 'tuple' object has no attribute 'remove'

In [395]:
t

(10, 20, 30, 40)

In [396]:
t = t*3
t

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [397]:
t[0] = 20

TypeError: 'tuple' object does not support item assignment

In [398]:
t1

(10, 'amx', True, 5.8, 10)

In [399]:
t2 = t1 * 2 #in this case content has not changed but same t content repeted twice

In [400]:
t2

(10, 'amx', True, 5.8, 10, 10, 'amx', True, 5.8, 10)

In [401]:
t3 = (10,20,(2,6))   #is this valid one & u can declare list inside the tuple

In [402]:
t3
type(t3)

tuple

In [403]:
colors = "red", "green", "blue"
colors

('red', 'green', 'blue')

In [404]:
colors = "red", "green", "blue"
colors
rev = colors[::-1] 
rev

('blue', 'green', 'red')

In [405]:
rev = colors[:-1]
rev

('red', 'green')

In [406]:
rev

('red', 'green')

In [407]:
colors

('red', 'green', 'blue')

In [408]:
rev1 = colors[::-2]
rev1

('blue', 'red')

In [409]:
colors = "red", "green", "blue"
colors
rev = colors[:-1] 
rev

('red', 'green')

In [410]:
colors = "red", "green", "blue"
colors
rev = colors[:-2] 
rev

('red',)

In [411]:
colors

('red', 'green', 'blue')

In [412]:
colors[-1]

'blue'

In [413]:
colors

('red', 'green', 'blue')

In [414]:
rev = colors[::-1] # reversing order is allowed
rev

('blue', 'green', 'red')

In [415]:
colors

('red', 'green', 'blue')

In [416]:
rev = colors[::-1]
rev

('blue', 'green', 'red')

In [417]:
type(colors)

tuple

In [418]:
rev1 = colors[:-1]
rev1

('red', 'green')

In [419]:
rev = colors[::-1] # reversing order is allowed
rev

('blue', 'green', 'red')

In [420]:
colors

('red', 'green', 'blue')

In [421]:
rev2 = colors[::-2] # reversing order is allowed
rev2

('blue', 'red')

## Range

* in python which is the most common data structure - range()
* range() datatypes represent a sequence of values
* always immutable
* range() datatypes we have multiple forms lets see one by one
* List insertation order is preserved but set insertation is not preserved

In [422]:
r = range(5) # 1 arguement
r

range(0, 5)

In [423]:
r1 = range(10)
r1

range(0, 10)

In [424]:
range(10,20)

range(10, 20)

In [425]:
r2 = list(range(10)) # we declare 1 argument 
r2
r_ = list(range(3))
r_

[0, 1, 2]

In [426]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [427]:
list(range(10,100,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [428]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [429]:
list(range(5,20,5,2))

TypeError: range expected at most 3 arguments, got 4

In [430]:
# FORM-1: range(10) -- represents values from 0 to 9 (python index start from 0)
r = range(10)
#type(r)  
r

range(0, 10)

In [431]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [432]:
for i in r:
    print('yes')
    print(i)

yes
0
yes
1
yes
2
yes
3
yes
4
yes
5
yes
6
yes
7
yes
8
yes
9

In [433]:
r

range(0, 10)

In [434]:
range(10.0, 11.5) # you cannot declare float argument

TypeError: 'float' object cannot be interpreted as an integer

In [435]:
w1 = range(10,20) 
w1

range(10, 20)

In [436]:
for i in w1:    
    print(i)

10
11
12
13
14
15
16
17
18
19

In [437]:
r

range(0, 10)

In [438]:
r[4]

4

In [439]:
r[0]

0

In [440]:
r[5]

5

In [441]:
r[0:3]

range(0, 3)

In [446]:
# i want to generate a sequence of no fro 0 to 99

mine = range(100)
print(list(mine))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [447]:
# i want to represent number from 10 to 29 then we should not use above one

range(10,30) # repreent no. from 10 to 29 but not 100 & we passed 2 arguments

range(10, 30)

In [448]:
range(50)

range(0, 50)

In [449]:
range(10,50) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50)

In [450]:
range(10,50,5) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50, 5)

In [451]:
range(10,50,5,6)

TypeError: range expected at most 3 arguments, got 4

In [452]:
range(10,100,10.56)

TypeError: 'float' object cannot be interpreted as an integer

In [453]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [454]:
for i in range(10,20):  
    print(i)

10
11
12
13
14
15
16
17
18
19

In [455]:
for i in range(10,100,10):  # start, end , stpe 
    print(i)

10
20
30
40
50
60
70
80
90

In [456]:
range(10,20,5,6) #you cannot declare 4 aruguments once becusae max you can assign for 3 arguments or 3 parameter

TypeError: range expected at most 3 arguments, got 4

## **set datatype**

Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [457]:
s = {10,20,30,10,20,30} # is it allowed or not we will check

In [458]:
s #duplicates are not allowed

{10, 20, 30}

In [459]:
type(s)

set

In [460]:
s_ = {56,30,75,109 }
s_

{30, 56, 75, 109}

In [461]:
s1 = {30,10,20,10,'abc',5.0,True} 
s1

{10, 20, 30, 5.0, True, 'abc'}

In [462]:
s1[0]

TypeError: 'set' object is not subscriptable

In [463]:
s1[1:4]

TypeError: 'set' object is not subscriptable

In [464]:
s

{10, 20, 30}

In [465]:
s[:]   #set object does not support indexing or slicing or subscirptive

TypeError: 'set' object is not subscriptable

In [466]:
s

{10, 20, 30}

In [467]:
s[1:]

TypeError: 'set' object is not subscriptable

In [468]:
s

{10, 20, 30}

In [469]:
s.append(True)  #mutable
s

AttributeError: 'set' object has no attribute 'append'

In [470]:
s.add(True)  #mutable
s

{True, 10, 20, 30}

In [471]:
s.add(300)
s

{True, 10, 20, 30, 300}

In [472]:
s.add('b') 
s

{10, 20, 30, 300, True, 'b'}

In [473]:
s.add('c')

In [474]:
s.add('c','d','d')

TypeError: set.add() takes exactly one argument (3 given)

In [475]:
s

{10, 20, 30, 300, True, 'b', 'c'}

In [476]:
s[1]

TypeError: 'set' object is not subscriptable

In [479]:
s.remove(30) #remove function is applicable for list not for the set

In [480]:
s

{10, 20, True, 'b', 'c'}

In [481]:
s.add('d') 
s

{10, 20, True, 'b', 'c', 'd'}

In [482]:
s3 = {[10,20,30], 40, True}
s3

TypeError: unhashable type: 'list'

In [483]:
s1

{10, 20, 30, 5.0, True, 'abc'}

In [484]:
s[0] = 50

TypeError: 'set' object does not support item assignment

In [485]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

five
eight
six
two
seven
four
three
one

In [486]:
myset.add('nine')

In [487]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [488]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'eight')
(2, 'six')
(3, 'nine')
(4, 'two')
(5, 'seven')
(6, 'four')
(7, 'three')
(8, 'one')

In [489]:
'nine' in myset

True

In [490]:
myset.add([10,20])

TypeError: unhashable type: 'list'

In [491]:
printmyset.update([10,20])

NameError: name 'printmyset' is not defined

In [492]:
myset.add((30,40,50,50))
myset.update(('ab', 56,[1,2,3]))

TypeError: unhashable type: 'list'

In [493]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [494]:
myset.discard('nine')

In [495]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [496]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [497]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [498]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [499]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [500]:
A | C | B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [501]:
A, B, C

({1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, {8, 9, 10})

In [502]:
A & B

{4, 5}

In [503]:
A & C

set()

In [504]:
B & C

{8}

In [505]:
A.intersection(B)

{4, 5}

In [506]:
A.intersection_updaten(B)

AttributeError: 'set' object has no attribute 'intersection_updaten'

In [507]:
A

{1, 2, 3, 4, 5}

In [508]:
B

{4, 5, 6, 7, 8}

In [509]:
D = {10, 11, 12, 13, 14, 15}
len(D)

6

In [510]:
A - B

{1, 2, 3}

In [511]:
len(D)

6

In [512]:
A | D

{1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15}

In [513]:
A & D

set()

In [514]:
A - D

{1, 2, 3, 4, 5}

In [515]:
C | A

{1, 2, 3, 4, 5, 8, 9, 10}

In [516]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [517]:
myset.discard('eleven')

In [518]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [519]:
myset.remove('eleven')

KeyError: 'eleven'

In [520]:
myset1 = myset.copy()

In [521]:
myset1

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [522]:
myset

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [523]:
myset.clear()

In [524]:
myset

set()

In [525]:
myset1

{(30, 40, 50, 50),
 56,
 'ab',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [526]:
del myset1

In [527]:
myset1

NameError: name 'myset1' is not defined

In [528]:
s

{10, 20, True, 'b', 'c', 'd'}

In [529]:
s.insert(10,20)

AttributeError: 'set' object has no attribute 'insert'

In [530]:
a = {1,2,3}
b = {4,5,6}
c = { 7,8,9}

In [531]:
a | b # a union b

{1, 2, 3, 4, 5, 6}

In [532]:
b | c

{4, 5, 6, 7, 8, 9}

In [533]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [534]:
a | c

{1, 2, 3, 7, 8, 9}

In [535]:
d = {'nit', 'hi', 2.3}

In [536]:
d | a

{1, 2, 2.3, 3, 'hi', 'nit'}

In [537]:
a | b

{1, 2, 3, 4, 5, 6}

In [538]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [539]:
b.union(d)

{2.3, 4, 5, 6, 'hi', 'nit'}

In [540]:
a , b, c, d

({1, 2, 3}, {4, 5, 6}, {7, 8, 9}, {2.3, 'hi', 'nit'})

In [541]:
a.union(b,c,d)

{1, 2, 2.3, 3, 4, 5, 6, 7, 8, 9, 'hi', 'nit'}

In [542]:
b.union(a,d)

{1, 2, 2.3, 3, 4, 5, 6, 'hi', 'nit'}

In [543]:
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [544]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [545]:
b

{4, 5, 6}

In [546]:
c

{7, 8, 9}

In [547]:
b.update(c)

In [548]:
a, b, c, d

({1, 2, 3, 4, 5, 6, 7, 8, 9},
 {4, 5, 6, 7, 8, 9},
 {7, 8, 9},
 {2.3, 'hi', 'nit'})

In [549]:
a & b

{4, 5, 6, 7, 8, 9}

In [550]:
a & b & c

{7, 8, 9}

In [551]:
b & c & d

set()

In [552]:
a - b

{1, 2, 3}

In [553]:
b

{4, 5, 6, 7, 8, 9}

In [554]:
id(b)

2526635283776

In [555]:
id(a)

2526635279296

In [556]:
type(s)

set

In [557]:
# frozenset exactly same as set but one criteria is immutable

In [558]:
s3 = {10,20,30,40} 
s3.add(70)
s3

{10, 20, 30, 40, 70}

In [559]:
s3.add('hallo')
s3

{10, 20, 30, 40, 70, 'hallo'}

In [560]:
fs = frozenset(s3)
fs

frozenset({10, 20, 30, 40, 70, 'hallo'})

In [561]:
type(fs)

frozenset

In [562]:
fs.add(50) #add, remove such type of concept are not applicable in frozenset
#fs.remove(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [563]:
fs.remove(40)

AttributeError: 'frozenset' object has no attribute 'remove'

In [564]:
fs[1]

TypeError: 'frozenset' object is not subscriptable

In [565]:
s5 = {}
s5

{}

In [566]:
type(s5)

dict

In [567]:
s6 = set()
type(s6)

set

In [568]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for a in myset:
    print(a)

five
eight
six
two
seven
four
three
one

In [569]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'eight')
(2, 'six')
(3, 'two')
(4, 'seven')
(5, 'four')
(6, 'three')
(7, 'one')

In [570]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [571]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [572]:
if 'fifty' in myset:
    print('fift is present')
else:
    print('fifty is absent')

fifty is absent

In [573]:
myset.add('Nine')

In [574]:
myset

{'Nine', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [575]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE', 'TWENTY', 'THIRTY']) 
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'THIRTY',
 'TWELVE',
 'TWENTY',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [576]:
myset.discard('THIRTY')

In [577]:
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'TWENTY',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [578]:
l = [10,20,30]
t = (10,20,30)

In [579]:
#l.discard(10)
t.discard(10)

AttributeError: 'tuple' object has no attribute 'discard'

In [581]:
myset.discard('THIRTY','TWENTY','ELEVEN') # YOU CAN NOT DECLEAR MORE THEN 1 ARGUMET IN SET

TypeError: set.discard() takes exactly one argument (3 given)

In [582]:
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'TWENTY',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [583]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [584]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [585]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [586]:
A.union(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [587]:
A.update(B,C)

In [588]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## **DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [589]:
d = {100:'amx', 200:'shiv', 300:'nar'}
d

{100: 'amx', 200: 'shiv', 300: 'nar'}

In [590]:
type(d)

dict

In [591]:
# i want to create an empty dictionary, now tell me is that set or dict ???

d1 = {}  # always treated as dict
print(d1)
type(d1)

{}

dict

In [592]:
print(type(d1))

<class 'dict'>

In [593]:
# you may ask questiong how to create empty set 
s = set()  
type(s)

set

In [594]:
d_ = dict()
type(d_)

dict

In [595]:
print(type(s))

<class 'set'>

In [596]:
# i created empty dict

d2 = {} # i want to add some element, so dict is mutable

In [597]:
d2

{}

In [598]:
d2.100 = 'hi'

SyntaxError: invalid syntax (942938001.py, line 1)

In [599]:
d2

{}

In [600]:
d2[100] = 'hi' # this is the metod to add an object in dictinary & no add,remove function are applicable in dict
d2

{100: 'hi'}

In [601]:
d2['hi'] = 100 # this is the metod to add an object in dictinary & no add,remove function are applicable in dict
d2

{100: 'hi', 'hi': 100}

In [602]:
d2[200 + 10j] = 'amx'

In [603]:
d2[300] = 'ABC'

In [604]:
d2

{100: 'hi', 'hi': 100, (200+10j): 'amx', 300: 'ABC'}

In [605]:
d2[250, 350] = 7, 'hi'
d2

{100: 'hi', 'hi': 100, (200+10j): 'amx', 300: 'ABC', (250, 350): (7, 'hi')}

In [606]:
d2[[250, 350]] = 7, 'hi'

TypeError: unhashable type: 'list'

In [607]:
d2[True] = 'yyy'
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy'}

In [608]:
d2[8.0] = 56
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56}

In [609]:
d2 # duplicates are not allowed but values are changes

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56}

In [610]:
d2['l'] = [10,20], 34

In [611]:
d2

{100: 'hi',
 'hi': 100,
 (200+10j): 'amx',
 300: 'ABC',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [612]:
d2[100]

'hi'

In [613]:
del d2[100] # how to remove key & values in dict

In [614]:
del d2[300]

In [615]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [616]:
a1 = {} 
type(a1)

dict

In [617]:
math.sqrt(25)

NameError: name 'math' is not defined

In [618]:
a2 = dict()
type(a2)

dict

In [619]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [620]:
d2.keys()

dict_keys(['hi', (200+10j), (250, 350), True, 8.0, 'l'])

In [621]:
d2.values()

dict_values([100, 'amx', (7, 'hi'), 'yyy', 56, ([10, 20], 34)])

In [622]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [623]:
d2.items()

dict_items([('hi', 100), ((200+10j), 'amx'), ((250, 350), (7, 'hi')), (True, 'yyy'), (8.0, 56), ('l', ([10, 20], 34))])

In [624]:
len(d2.items())

6

In [625]:
d2['criket'] = (23, 45, 56, 67, 78, 89)

In [626]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': (23, 45, 56, 67, 78, 89)}

In [627]:
type(d2['criket'])

tuple

In [628]:
d2.get(True)

'yyy'

In [629]:
d2.keys(True)

TypeError: dict.keys() takes no arguments (1 given)

In [630]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': (23, 45, 56, 67, 78, 89)}

In [631]:
d2['criket'] = 'ipl'

In [632]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34),
 'criket': 'ipl'}

In [633]:
d2.pop('criket')

'ipl'

In [634]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [635]:
d4 = d2.copy()

In [636]:
d4

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [637]:
d2

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [638]:
d4

{'hi': 100,
 (200+10j): 'amx',
 (250, 350): (7, 'hi'),
 True: 'yyy',
 8.0: 56,
 'l': ([10, 20], 34)}

In [639]:
d2 == d4

True

In [640]:
print(id(d2))
print(id(d4))

2526626417152
2526623855104

In [641]:
id(d2), id(d4)

(2526626417152, 2526623855104)

In [642]:
a = b = c = 30

In [643]:
a is b

True

In [644]:
id(a) is id(b)

False

In [647]:
a=20
b=20
c=20
id(a) == id(b)

True

------

## Datatypes & Datastructures are completed ##

In [646]:
a = b = c = d = 10
print(id(a))
print(id(b))
print(id(c))
print(id(d))

140724161882840
140724161882840
140724161882840
140724161882840

In [648]:
id(c) is id(d) # You should not use is to compare ids. Instead, compare them with ==

False

In [650]:
a is b

True

In [651]:
c is d

False