# Conditional Statements

### In Python, any conditional statement ends with ':' (proper indentation must be followed while working through loops).

In [1]:
if True:
    print('Hello SHeet')

Hello SHeet

In [2]:
if False:
    print('HEyo')

In [3]:
if True :
    print('Zigzagg')
print('zapzoop')

Zigzagg
zapzoop

In [4]:
if False:
    print('SH...')
print('Bye broo')

Bye broo

In [5]:
if True:
    print("This is true")
else:
    print('Tnis is false')

This is true

In [6]:
# Evan - Odd
x = 4
r = x % 2
if r == 0:
    print('even')
else:
    print('odd')

even

In [7]:
x = 7
r = x % 2
if r == 0:
    print('evev')
else:
    print('odd')

odd

In [8]:
x = int(input('enter the number:'))
r = x % 2
if r == 0:
    print('even')
else:
    print('odd')

enter the number: 7

odd

In [9]:
x = int(input('eter the number:'))     #nested if 
r = x % 2

if r == 0:
    print('Even')
    if x>5:
        print('greater than 5')
    else:
        print('less than 5')
else:
    print('odd')
    if x>10:
        print('greater than 10 odd number')
    else:
        print('smaller than 10 odd number')

eter the number: 7

odd
smaller than 10 odd number

In [10]:
x = 4

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

four

In [11]:
x = 7

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')
else:
    print('greater than four')

greater than four

In [12]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  -10

Negative

In [13]:
age = int(input('Enter Age:'))
if age >= 60:
    print('Senior Citizen')
elif age >= 35:
    print("Adult")
elif age >= 20:
    print("Young Adult")
elif age >= 13:
    print('Teenage')
elif age >=1:
    print('Child')
else:
    print('Give valid age input')

Enter Age: 90

Senior Citizen

In [14]:
age = int(input('Enter Age:'))
member = input('Enter True/False')
is_member = bool(member)

if age >= 60:
    print('Senior Citizen')
    if is_member:
        print("Wowww!!!30% senior discount!")
    else:
         print("Wowww!!!20% senior discount.")
elif age >= 35:
    print("Adult")
elif age >= 20:
    print("Young Adult")
elif age >= 13:
    print('Teenage')
    if is_member:
        print("Wowww!!!10% Teen discount!")
elif age >=1:
    print('Child')
    if is_member:
        print("Wowww!!!30% Child discount!")
    else:
         print("Wowww!!!15% Child discount.")
else:
    print('Give valid age input')

Enter Age: 10
Enter True/False True

Child
Wowww!!!30% Child discount!

In [15]:
#ternary Condition Statement
age = 5
s = "Adult" if age>35 else "too Young"

print(s)

too Young

# Problems :-

#### 1. If conditional statement- Python

In [16]:
j_angry = True 
s_angry = False

if j_angry and s_angry :
    print(True)
    print('You are not in trouble.')
else:
    print(False)
    print('You are in trouble.')

False
You are in trouble.

In [17]:
j_angry = True 
s_angry = True

if j_angry and s_angry :
    print(True)
    print('You are not in trouble.')
else:
    print(False)
    print('You are in trouble.')

True
You are not in trouble.

#### 2. Mark Even and odd

In [18]:
x = int(input()) 
if (x % 2 == 0):
    print('Even')
else:
    print('Odd')

 4

Even

#### 3. Check the Status

In [19]:
a = int(input('a:'))
b = int(input('b:'))
flag = bool(int(input('flag (1 for True, 0 for False): ')))   

if (((a>=0) or (b>=0)) and not flag):
    print('True')
elif(((a<0) and (b<0)) and (flag == True)):
    print('True')
else:
    print('False')

# int ka bool mai convert kar saktey hai with 1/0, 
# but string ko bool mai convert karrey tho what happens is when there is some values 
# it becomes true, and no values it then becomes false

a: 1
b: -1
flag (1 for True, 0 for False):  0

True

In [20]:
a = int(input('a:'))
b = int(input('b:'))
flag = bool(int(input('flag (1 for True, 0 for False): ')))

if (((a>=0) or (b>=0)) and (flag == False)):
    print('True')
elif(((a<0) and (b<0)) and (flag == True)):
    print('True')
else:
    print('False')

a: -182
b: -9121
flag (1 for True, 0 for False):  1

True

In [21]:
a = int(input('a:'))
b = int(input('b:'))
flag = bool(int(input('flag (1 for True, 0 for False): ')))

if (((a>=0) or (b>=0)) and (flag == False)):
    print('True')
elif(((a<0) and (b<0)) and (flag == True)):
    print('True')
else:
    print('False')

a: 5
b: 3
flag (1 for True, 0 for False):  1

False

#### 4. Cat and Hat

In [22]:
s = input()
cnt_cat = s.count('cat')
cnt_hat = s.count('hat')

if cnt_cat == cnt_hat:
    print('True')
else:
    print('False')

 catinahat

True

In [23]:
s = input()
cnt_cat = s.count('cat')
cnt_hat = s.count('hat')

if cnt_cat == cnt_hat:
    print('True')
else:
    print('False')

 bazingaa

True

In [24]:
s = input()
cnt_cat = s.count('cat')
cnt_hat = s.count('hat')

if cnt_cat == cnt_hat:
    print('True')
else:
    print('False')

 catooooho

False

#### 5. The Else Statement

In [25]:
a = int(input())
if a>100:
    print('Big')
else:
    print('Number')

 10

Number

In [26]:
a = int(input())
if a>100:
    print('Big')
else:
    print('Number')

 101

Big

#### 6. The FizzBuzz Program

In [27]:
a = int(input('a:'))
if((a%3 == 0) and (a%5 == 0)):
    print("FizzBuzz")
elif (a%3 == 0):
    print("Fizz")
elif(a%5 == 0):
    print("Buzz")
else:
    print(a)

a: 3

Fizz

In [28]:
a = int(input('a:'))
if((a%3 == 0) and (a%5 == 0)):
    print("FizzBuzz")
elif (a%3 == 0):
    print("Fizz")
elif(a%5 == 0):
    print("Buzz")
else:
    print(a)

a: 5

Buzz

In [29]:
a = int(input('a:'))
if((a%3 == 0) and (a%5 == 0)):
    print("FizzBuzz")
elif (a%3 == 0):
    print("Fizz")
elif(a%5 == 0):
    print("Buzz")
else:
    print(a)

a: 15

FizzBuzz

#### 7. Even Odd Game

In [30]:
n = int(input('n:'))
if (n % 2 != 0) :
    print("You")
else:
    print("Friend")

n: 9

You

In [31]:
n = int(input('n:'))
if (n % 2 != 0) :
    print("You")
else:
    print("Friend")

n: 4

Friend

#### 8. Greatest of Three

In [32]:
a,b,c = map(int,input().split())
if a>=b and a>=c:
    print(a)
elif b>=a and b>=c:
    print(b)
else:
    print(c)

 1 2 3

3

In [33]:
a,b,c = map(int,input().split())
if a>=b and a>=c:
    print(a)
elif b>=a and b>=c:
    print(b)
else:
    print(c)

 2 2 5

5

#### 9. Leap Year

In [34]:
n = int(input())
if n%4 == 0:
    print("True")
else:
    print("False")

 2020

True

In [35]:
n = int(input())
if n%4 == 0:
    print("True")
else:
    print("False")

 2022

False

#### 10. Calculator

In [36]:
a,b,op = map(int,input().split())
if op == 1:
    print(a+b)
elif op == 2:
    print(b-a)
elif op == 3:
    print(a*b)
else:
    print("Invalid input")

 1 2 3

2

In [37]:
a,b,op = map(int,input().split())
if op == 1:
    print(a+b)
elif op == 2:
    print(b-a)
elif op == 3:
    print(a*b)
else:
    print("Invalid input")

 2 2 2

0

#### 11. Closest Number

In [38]:
n,m = map(int,input().split())
r = n % m
n = n-r
print(n)

 13 4

12

In [39]:
n,m = map(int,input().split())
r = n % m
n = n-r
print(n)

 -15 6

-18

#### 12. The dice problem

In [40]:
n = int(input())
print(7-n)

 6

1

In [41]:
n = int(input())
print(7-n)

 2

5

#### 13. Overlapping rectangles

In [45]:
x1, y1 = map(int, input("L1 (x y): ").split())
x2, y2 = map(int, input("R1 (x y): ").split())
x3, y3 = map(int, input("L2 (x y): ").split())
x4, y4 = map(int, input("R2 (x y): ").split())

if x2 < x3 or x4 < x1:
    print(0)

elif y1 < y4 or y3 < y2:
    print(0)

else:
    print(1)

L1 (x y):  0 10
R1 (x y):  10 0
L2 (x y):  5 5
R2 (x y):  15 0

1

In [46]:
x1, y1 = map(int, input("L1 (x y): ").split())
x2, y2 = map(int, input("R1 (x y): ").split())
x3, y3 = map(int, input("L2 (x y): ").split())
x4, y4 = map(int, input("R2 (x y): ").split())

if x2 < x3 or x4 < x1:
    print(0)

elif y1 < y4 or y3 < y2:
    print(0)

else:
    print(1)

L1 (x y):  0 2
R1 (x y):  1 1
L2 (x y):  -2 0
R2 (x y):  0 -3

0

#### 14. Test if tuple is distinct

In [48]:
arr = list(map(int,input().split()))
arr2 = set(arr)
if len(arr) == len(arr2):
    print(True)
else:
    print(False)

 1 2 3 4 5 4

False

In [49]:
arr = list(map(int,input().split()))
arr2 = set(arr)
if len(arr) == len(arr2):
    print(True)
else:
    print(False)

 1 2 3 4 5 6

True

#### 15. Day before N days

In [50]:
d, n = map(int, input().split())
r = (d - n) % 7
print(r)

 4 3

1

In [52]:
d, n = map(int, input().split())
r = (d - n) % 7
print(r)

 2 19

4

#### 16. Solving queries

In [63]:
dict = {1:"abc", 2: "cde", 3: "fgh"}
query = [2, 3, 4]

for i in range(len(query)):
    if query[i] in dict:
        print(dict[query[i]])
    else:
        print("None")

cde
fgh
None

#### 17. Factorial

In [65]:
n = int(input())
r = 1
for i in range(1,n+1):
    r = r*i
print(r)

 5

120

In [66]:
n = int(input())
r = 1
for i in range(1,n+1):
    r = r*i
print(r)

 10

3628800

#### 18. Check Prime

In [68]:
n = int(input())
f = 0
for i in range(2,17):
    if n % i == 0:
        print("False")
        f = 1
        break
if f == 0:
    print(True)

 17

True

In [69]:
n = int(input())
f = 0
for i in range(2,17):
    if n % i == 0:
        print("False")
        f = 1
        break
if f == 0:
    print(True)

 56

False

#### 19. Next Prime Number

In [2]:
n = int(input())
num = n + 1
while True:
    Flag = True
    for i in range(2, num):
        if num % i == 0:
            Flag = False
            break
    if Flag == True:
        print(num)
        break
    num += 1

 15

17

In [3]:
n = int(input())
num = n + 1
while True:
    Flag = True
    for i in range(2, num):
        if num % i == 0:
            Flag = False
            break
    if Flag == True:
        print(num)
        break
    num += 1

 7

11

#### 20. Fibonacci Number

In [4]:
n = int(input())
a, b = 0, 1 

if n == 0:
    print(0)
elif n == 1:
    print(1)
else:
    for i in range(2, n + 1):
        c = a + b
        a = b
        b = c
    print(b)

 4

3

In [5]:
n = int(input())
a, b = 0, 1 

if n == 0:
    print(0)
elif n == 1:
    print(1)
else:
    for i in range(2, n + 1):
        c = a + b
        a = b
        b = c
    print(b)

 5

5

#### 21. Perfect Numbers

In [7]:
n = int(input())
tot = 0
for i in range(1,n):
    if  n%i == 0:
        tot += i
if tot == n:
    print(True)
else:
    print(False)

 6

True

In [8]:
n = int(input())
tot = 0
for i in range(1,n):
    if  n%i == 0:
        tot += i
if tot == n:
    print(True)
else:
    print(False)

 10

False

#### 22. Adam Number

In [9]:
n = int(input())
rev = int(str(n)[::-1])
sq_n = n * n
sq_rev = rev * rev
rev_sq_n = int(str(sq_n)[::-1])

if rev_sq_n == sq_rev:
    print("YES")
else:
    print("NO")

 12

YES

In [10]:
n = int(input())
rev = int(str(n)[::-1])
sq_n = n * n
sq_rev = rev * rev
rev_sq_n = int(str(sq_n)[::-1])

if rev_sq_n == sq_rev:
    print("YES")
else:
    print("NO")

 14

NO

#### 23. Strong Numbers

In [11]:
n = int(input())
num = n
t = 0

while num > 0:
    i = num % 10
    fact = 1
    for i in range(1, i + 1):
        fact *= i
    t += fact
    num //= 10
    
if t == n:
    print(1)
else:
    print(0)

 145

1

In [12]:
n = int(input())
num = n
t = 0

while num > 0:
    i = num % 10
    fact = 1
    for i in range(1, i + 1):
        fact *= i
    t += fact
    num //= 10
    
if t == n:
    print(1)
else:
    print(0)

 14

0