In [5]:
i = 1          # initializing

while i<=5:    # condition
    print('SK')
    i = i + 1    # increment

SK
SK
SK
SK
SK

In [6]:
i = 5          

while i>=1:    
    print('SK')
    i = i - 1

SK
SK
SK
SK
SK

In [7]:
i = 1         
while i<=5:    
    print('SK : ', i)
    i = i + 1

SK :  1
SK :  2
SK :  3
SK :  4
SK :  5

In [8]:
i = 1

while i<=5:
    print('SK')
    j = 1
    while j<=4:
        print('Kotha')
        j = j + 1
        
    i = i + 1
    print()

SK
Kotha
Kotha
Kotha
Kotha

SK
Kotha
Kotha
Kotha
Kotha

SK
Kotha
Kotha
Kotha
Kotha

SK
Kotha
Kotha
Kotha
Kotha

SK
Kotha
Kotha
Kotha
Kotha

In [9]:
i = 1
while i<=5:
    print(' SK', end = "") #new line will not created,continues
    j = 1
    while j<=4:
        print(' Kotha', end="")
        j = j + 1
        
    i = i + 1
    print()

 SK Kotha Kotha Kotha Kotha
 SK Kotha Kotha Kotha Kotha
 SK Kotha Kotha Kotha Kotha
 SK Kotha Kotha Kotha Kotha
 SK Kotha Kotha Kotha Kotha

In [10]:
i = 5

while i <= 10 :
    j = 0
    while  j <= 5 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 5 10 15 20 25
0 6 12 18 24 30
0 7 14 21 28 35
0 8 16 24 32 40
0 9 18 27 36 45
0 10 20 30 40 50

In [11]:
name = 'Sheeeeetal'

for i in name:
    print(i)

S
h
e
e
e
e
e
t
a
l

In [13]:
for i in range(10):
    print(i,i+1)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [14]:
for i in range(1,10,3):
    print(i)

1
4
7

In [15]:
for i in range(1,51):
    
    if i%5==0 :
        print(i,end=" ")

5 10 15 20 25 30 35 40 45 50

### Break= jumps out of the function/loop

### Continue= skips 1 step/iteration during loop

### Pass = skips block of code( function, class etc)

In [17]:
for i in range(1,21):
    if i == 10:
       break 
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for i in range(1,21):
    if i == 10:
        continue 
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [19]:
for i in range(1,11):

SyntaxError: incomplete input (1593395653.py, line 1)

In [20]:
for i in range(1,11):
    pass

In [23]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found')

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [25]:
nums = [7,14,18,21,23,27]

for num in nums:           # for - else ==>else is out of the 'for' loop,it executes if loop is blank
    if num % 5 == 0:
        print(num)  
        break
else:
    print('Number Not Found')

Number Not Found

# Patterns

In [1]:
for i in range(1,6):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [2]:
for i in range(5,0,-1):
    print(" * "*i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [4]:
for i in range(1,6):
    print(''*(5-i) + ' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [18]:
for i in range(5,0,-1):
    print(''*(5-i) + ' *'*(2*i-1))

 * * * * * * * * *
 * * * * * * *
 * * * * *
 * * *
 *

In [15]:
for i in range(1,6):
    print(''*(5-i) + ' * '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i) + ' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

In [21]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('*',end='')
        else:
            print(' ',end='')
    print()

*****
*   *
*   *
*   *
*****

In [22]:
for i in range(5):
    print(' * '*5)

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [25]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1,i+1)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [29]:
for i in range(5,0,-1):
    print(' '.join(str(x) for x in range(1,i+1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [31]:
n = 1
for i in range(1,6):
    for j in range(1,i+1):
        print(n,end=' ')
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [35]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
*       *

In [36]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [37]:
for i in range(1,6):
    for j in range(5-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2 or i==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [44]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [45]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        if j==0 or j==2*i-2:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

In [46]:
n = 5
for i in range(1, n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5

In [47]:
n = 5
for i in range(1, n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [51]:
n = 5
for i in range(1, n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()
for i in range(n,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    for j in range(2*(n-i)):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [52]:
n = 5
for i in range(i,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print(i,end=' ')
        else:
            print(' ',end=' ')
    print()

        1
      2   2
    3       3
  4           4
5 5 5 5 5 5 5 5 5

In [53]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [54]:
n=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [58]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print('*',end=' ')
    print()

for i in range(1,n+1):
    for j in range(i):
        print(i,end=' ')
    print()

for i in range(1,n+1):
    for j in range(i):
        print(j+1,end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [60]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
        *
      * *
    * * *
  * * * *
* * * * *