# Functions
Write it once call it again and again

def function_name(parameters):

    # function body
    
    return expression

In [1]:
def greet():
    print("Hello sheet")

In [3]:
def greet():
    print("Hello sheet")
greet()

# define the function 
#print or return 
#call the function

Hello sheet

In [4]:
def greet():
    print("Hello sheet")
greet()

def greet():
    print("Hello sheet")
greet()

def greet():
    print("Hello sheet")
greet()

Hello sheet
Hello sheet
Hello sheet

In [5]:
def greet():
    print("Hello sheet")
greet()
greet()
greet()
greet()
greet()

Hello sheet
Hello sheet
Hello sheet
Hello sheet
Hello sheet

In [8]:
def greet():            #without any arguments
    print("Hello sheet")
    print('*' * 10)
greet()
greet()
greet()
greet()
greet()

Hello sheet
**********
Hello sheet
**********
Hello sheet
**********
Hello sheet
**********
Hello sheet
**********

In [10]:
# doing with arguments

def add(x,y):    #formal parameters
    z = x+y
    return z
add(10,20)       #actual parameters

30

In [11]:
def add(x,y):  
    z = x+y
    return z
add(10)

#type error

TypeError: add() missing 1 required positional argument: 'y'

In [13]:
def add(x,y):  
    z = x+y
    return z
add(10,20,30)

TypeError: add() takes 2 positional arguments but 3 were given

In [14]:
def add(x,y,z):
    c=x+y+z+m 
    return c  
   
add(5,6,7)
# name error - m not defined

NameError: name 'm' is not defined

In [15]:
greet()

Hello sheet
**********

In [19]:
def add(x,y,z):
    c=x+y+z
    return c  
   
add(8,9,10)

27

In [21]:
add(1,2,3)

6

In [22]:
def sub(x,y,z):
    d = x-y-z
    return d

In [23]:
sub(10,9,8)

-7

In [24]:
greet()   
print(add(5,6,7))
print(sub(5,6,7))

Hello sheet
**********
18
-8

In [25]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(7,8)
print(result)
print(type(result))

(15, -1)
<class 'tuple'>

In [26]:
# its giving output in tuple, we cant use this tuple as it is immutable,
# we have to not make it as a tuple and print it as different no's.
# for that we have to declare the no. of varaiables in result same as that of we return

In [28]:
def add_sub_mul(x,y): 
    c= x+y
    d= x-y
    e= x*y
    return c, d, e 
    
add, sub, mul = add_sub_mul(10,20)
print(add)
print(sub)
print(mul)

30
-10
200

In [29]:
def update(): 
    x = 8
    print(x)
update()

8

In [30]:
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [32]:
def update(x): #update function take the value from the user and updates it
    x = 8
    return x
    
update(100)

8

In [33]:
def update(x):  
    x = 8
    return x
    
a = 15
print(update(a))
print(a)

8
15

In [34]:
def EvenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

In [35]:
print(EvenOdd(10))
print(EvenOdd(101))
print(EvenOdd(10010))

Even
Odd
Even